# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**

- Add comments to code
- Create markdown cell
- Add ordered and unordered list to the cell
- Use heading styles in markdown cell

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. PHP
8. Julia 
9. JavaScript
10. Ruby

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. Tensorflow
8. PyTorch

|Data Science Tools|
|:--|
|Anaconda|
|Jupyter Notebook|
|R Studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
NELLORE SAI NIKHIL